/* Poppins, Bellota  */
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Bukhari Script */
@import url('https://fonts.cdnfonts.com/css/bukhari-script');

/* Harlow Solid Italic */
@import url('https://fonts.cdnfonts.com/css/harlow-solid-italic');

/* Baybayin */
@import url('https://fonts.cdnfonts.com/css/baybayin-tayo-handwriting-b30');

/* Tilt Neon */
@import url('https://fonts.cdnfonts.com/css/tilt-neon');

:root {
   --red-100: #fae8e8;
   --red-200: #f0b9b9;
   --red-300: #e68a8a;
   --red-400: #dc5b5b;
   --red-500: #d22d2d;
   --red-600: #a42323;
   --red-700: #751919;
   --red-800: #460f0f;
   --red-900: #170505;
   --green-100: #f1f4ee;
   --green-200: #d6ddcc;
   --green-300: #bbc6aa;
   --green-400: #a0af88;
   --green-500: #859966;
   --green-600: #67774f;
   --green-700: #4a5539;
   --green-800: #2c3322;
   --green-900: #0f110b;
   --cream-100: #fff5ea;
   --cream-200: #ffd7aa;
   --grey-100: #d4d4d4;
   --grey-200: #b8b8b8;
   --black: #31363F;
   --blue: #4285f4;
   --yellow: #f7c566;
   --harlow: "Harlow Solid Italic", sans-serif;
   --tilt: "Tilt Neon", sans-serif;
   --poppins: "Poppins", sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.content_wrapper {
    display: flex;
    flex-direction: column;
}

.content_wrapper label {
    font-size: 18px;
    font-family: var(--tilt);
    color: var(--black);
    margin-bottom: 15px;
}

.content_wrapper select {
    padding: 5px 5px;
    border-radius: 6px;
    border: 1px solid var(--black);
    font-size: 14px;
    font-family: var(--tilt);
    background-color: var(--yellow);
    margin-bottom: 20px;
    outline: none;
}

.content_wrapper textarea {
    height: 80px;
    width: 80%;
    margin-bottom: 15px;
    outline: none;
    resize: none;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--black);
    font-size: 14px;
    font-family: var(--tilt);
    color: var(--black);
}

.content_wrapper button {
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid var(--black);
    background-color: var(--green-600);
    color: var(--cream-100);
    font-family: var(--tilt);
    cursor: pointer;
}

.span_container {
    margin-bottom: 10px;
}

.anonymous {
    font-family: var(--tilt);
    color: var(--black);  
}

